.calculator-form {
  background-color: rgba(255,114,4,0.32);
  border: 1px solid #ff7507;
  width: 100%;
  padding: 20px 0 40px 70px;
  margin: 35px 0;
  &__text {
    margin: 10px 25px 10px 0;
    font-size: 1.7rem;
  }
  p {
    font-size: 1.2rem;
  }
  &__result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &_inputs {
      display: flex;
      align-items: center;
    }
  }
  .select {
    margin-right: 20px;
  }
  label {
    margin-right: 10px;
  }
}
