.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: #343a40;
  padding: 25px 15px;
  &__brand {
    font-size: 1.7rem;
    color: #ffffff;
  }
  hr {
    height: 100%;
    margin: 0 10px;
    border: #ff7507 1px solid;
  }
  &__list {
    display: inline-flex;
    align-items: center;
    &_item {
      margin-right: 25px;
    }
  }
  a {
    cursor: pointer;
    text-transform: uppercase;
    color: #ffffff80;
    &:hover {
      color: #ff7507;
    }
  }
}
