.select {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  padding: 5px;
  border: 1px solid rgba(74, 74, 74, 0.95);
  color: rgba(74, 74, 74, 0.95);

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: #00dbde 2px solid;
  }

  &__text {
    font-size: 18px;
    font-weight: bold;
  }
}
