.exchange-layout {
  display: flex;
  flex-direction: column;
  .exchange-rates {
    text-align: left;
    padding: 5px;

    h2, h3 {
      text-transform: uppercase;
    }

    &__base {
      color: #ff7507;
      margin-top: 12px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 30px;
      margin-top: 5px;
      width: 100%;
      overflow: hidden;
      padding: 15px;
      transition: height 0.7s ease-in-out;
    }
  }
  .btn {
    margin-top: 20px;
    align-self: center;
  }
}
